<ion-view id="advance_pay" view-title="提前还款">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
<div class="ap_box1">
    <p>还款</p>
    <div class="ap_m_input">
        <input type="text">
        <div class="ap_jetxt">修改金额</div>
    </div>
</div>
<div class="ap_box2">可还<span>10239.00</span>元</div>
<div class="b_pay">确认还款</div>
        </ion-content>
        </ion-view>