<ion-view view-title="艺术作坊" id="art_workshop">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="aw_header">
            <ul class="aw_nav_list">
                <li class="aw_title aw_curr">T恤</li>
                <li class="aw_title">商品2</li>
                <li class="aw_title">商品3</li>
                <li class="aw_title">商品4</li>
            </ul>
        </div>
        <div class="aw_content">
            <div class="aw_c_list aw_show">
                <img ng-click="gotoPage('/goodsdetail/'+goods_id+'/')" src="http://mall.apin.com.cn/data/upload/shop/store/goods/1714/series/1/t-4.jpg" class="aw_img">
                <div class="aw_sc">收&nbsp;&nbsp;&nbsp;&nbsp;藏</div>
                <div class="aw_xq" ng-click="gotoPage('/goodsdetail/'+goods_id+'/')">查看详情</div>
            </div>
            <div class="aw_c_list">
                <div class="aw_sc">收&nbsp;&nbsp;&nbsp;&nbsp;藏</div>
                <div class="aw_xq">查看详情</div>
            </div>
            <div class="aw_c_list">
                <div class="aw_sc">收&nbsp;&nbsp;&nbsp;&nbsp;藏</div>
                <div class="aw_xq">查看详情</div>
            </div>
            <div class="aw_c_list">
                <div class="aw_sc">收&nbsp;&nbsp;&nbsp;&nbsp;藏</div>
                <div class="aw_xq">查看详情</div>
            </div>
        </div>
    </ion-content>
</ion-view>