<ion-view view-title="我的收藏" id="collection">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="cl_header"><span>按时间排序</span><span class="sort_txt">V排序</span></div>
        <div class="cl_box">
            <div class="cl_list">
                <div class="cl_img-layout">
                    <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                </div>
            </div>
            <div class="cl_list">
                <div class="cl_img-layout">
                    <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                </div>
            </div>
            <div class="cl_list">
                <div class="cl_img-layout">
                    <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>