<ion-view view-title="代付付款" id="confirm_replace">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
            <div class="cc_header">
                <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2546655005,642395146&fm=27&gp=0.jpg">
                <div class="cc_pbox">
                    <div class="cc_name">Sophie Yao</div>
                    <div class="cc_content">人哦二哥然后呢发的是是市分公司的人篮的开发人哪人</div>
                </div>
                </div>
                <div class="cc_djbox">
                    <div class="cc_dftxt">代付金额</div>
                    <div class="cc_dfnum">￥99.00</div>
                </div>
                <div class="cc_abox">
                    <p class="rp_tjtxt">代付订单信息</p>
                    <div class="cc_dbox">
                        <div>担保交易——商品名称：***系列-作品名T恤一件</div>
                        <div class="cc_pnum">￥99.00</div>
                    </div>
                    <div class="rp_send"><div class="rp_ax"></div><span>接受请求</span></div>
                </div>
        </ion-content>
        </ion-view>