<ion-view id="confirm_stage" view-title="交易分期">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="ct_header">
            <div class="ct_goods">
                <div>分期金额</div>
                <div class="ct_sp">商品</div>
                <div class="ct_money">160.00</div>
            </div>
        </div>
        <div class="ct_content">
            <div class="ct_fqlist">
                <div class="ct_title">分3期 × 每期<span>54.66</span></div>
                <dl>
                    <dd>第1期<span class="ct_jg">10月9日还56.67(含手续费1.33)</span></dd>
                    <dd class="ct_eq">第2期<span class="ct_jg">11月9日还56.67(含手续费1.33)</span></dd>
                    <dd>第3期<span class="ct_jg">12月9日还56.67(含手续费1.33)</span></dd>
                </dl>
            </div>
            <div class="ct_fqlist">
                <div class="ct_title">分6期 × 每期<span>27.86</span></div>
            </div>
            <div class="ct_fqlist">
                <div class="ct_title">分12期 × 每期<span>14.50</span></div>
            </div>
        </div>
        <p class="illustrate">手续费率说明</p>
        <div class="ct_confirm">确认分期</div>
    </ion-content>
</ion-view>