<ion-view view-title="编辑收货地址" id="detail_message">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="dm_box">
            <div class="dm_message">
                <div><input type="text" placeholder="收货人地址"></div>
                <div><input type="text" placeholder="收货人手机号码"></div>
                <div><input type="text" placeholder="所在地区(选择省/市/区)"></div>
                <div><textarea placeholder="详细地址：如道路、门牌号、小区、楼号等"></textarea></div>
            </div>
            <div class="dm_add"><span>设为默认地址</span></div>
        </div>
    </ion-content>
</ion-view>