<ion-view id="find">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="top_left"></div>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="fx">
                <ul class="s_fx">
                    <li class="fx_title fx_curr">制作工坊</li>
                    <li class="fx_title fx_hl">艺术画廊</li>
                </ul>
            </div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <div class="top_right"></div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="fx_wrapper fx_show">
            <div class="gf_header">
                <p class="gf_txt">本期大师：Haroob Mullick</p>
                <div class="gf_banner"><img src="http://mall.apin.com.cn/mobiletplusweb/img/header.png"></div>
            </div>
            <div class="gf_content">
                <p class="gf_txt">作画过程/艺术的诞生</p>
                <div class="gf_box">
                    <div class="gf_list">
                        <div class="gf_img-layout" ng-click="gotoPage('/mine_detail')">
                            <img src="http://mall.apin.com.cn/data/upload/shop/store/goods/1714/1714_05955234866289854.jpg">
                        </div>
                        <div class="gf_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="gf_tag_photo">
                            <span class="gf_name">Haroob Mu</span>
                            <div class="gf_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                    <div class="gf_list">
                        <div class="gf_img-layout">
                            <img src="http://mall.apin.com.cn/data/upload/shop/store/goods/1714/1714_05955234866289854.jpg">
                        </div>
                        <div class="gf_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="gf_tag_photo">
                            <span class="gf_name">Haroob Mu</span>
                            <div class="gf_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                    <div class="gf_list">
                        <div class="gf_img-layout">
                            <img src="http://mall.apin.com.cn/data/upload/shop/store/goods/1714/1714_05955234866289854.jpg">
                        </div>
                        <div class="gf_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="gf_tag_photo">
                            <span class="gf_name">Haroob Mu</span>
                            <div class="gf_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fx_wrapper">
            <div class="hl_header">
                <p>推荐艺术家</p>
                <span>Haroob Mu</span>
                <span>Sheldon Ch</span>
                <span>设计少年</span>
            </div>
            <div class="hl_content">
                <p class="hl_title">推荐作品</p>
                <div id="box">
                    <div class="hl_item">
                        <img ng-click="gotoPage('/mine_detail')" class="hl_item_photo" src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                        <div class="hl_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="hl_tag_photo">
                            <span class="hl_name">Haroob Mu</span>
                            <div class="hl_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>

                    <div class="hl_item">
                        <img ng-click="gotoPage('/mine_detail')" class="hl_item_photo" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539774629258&di=cb5fb0c2e893eee00d90432112fe15f9&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01f09e577b85450000012e7e182cf0.jpg%401280w_1l_2o_100sh.jpg">
                        <div class="hl_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="hl_tag_photo">
                            <span class="hl_name">Haroob Mu</span>
                            <div class="hl_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>

                    <div class="hl_item">
                        <img ng-click="gotoPage('/mine_detail')" class="hl_item_photo" src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                        <div class="hl_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="hl_tag_photo">
                            <span class="hl_name">Haroob Mu</span>
                            <div class="hl_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>

                    <div class="hl_item">
                        <img ng-click="gotoPage('/mine_detail')" class="hl_item_photo" src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                        <div class="hl_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="hl_tag_photo">
                            <span class="hl_name">Haroob Mu</span>
                            <div class="hl_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>

                    <div class="hl_item">
                        <img ng-click="gotoPage('/mine_detail')" class="hl_item_photo" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539774629258&di=cb5fb0c2e893eee00d90432112fe15f9&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01f09e577b85450000012e7e182cf0.jpg%401280w_1l_2o_100sh.jpg">
                        <div class="hl_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="hl_tag_photo">
                            <span class="hl_name">Haroob Mu</span>
                            <div class="hl_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>

                    <div class="hl_item">
                        <img ng-click="gotoPage('/mine_detail')" class="hl_item_photo" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539834415697&di=eb9235ad09e9909bf6ac379de8b21447&imgtype=0&src=http%3A%2F%2Fpic34.photophoto.cn%2F20150103%2F0030015284991808_b.jpg">
                        <div class="hl_tag">
                            <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg" class="hl_tag_photo">
                            <span class="hl_name">Haroob Mu</span>
                            <div class="hl_dz">
                                <div class="gf_icon gf_dz_ico"></div>
                                <span>100</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>