<ion-view id="mine_news" view-title="我的消息">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="mn_show_select">
            <ul class="mn_nav_list">
                <li class="mn_title mn_curr"><span>通知</span></li>
                <li class="mn_title"><span class="mn_xx">信息</span></li>
                <li class="mn_title"><span>垃圾桶</span></li>
            </ul>
        </div>
        <div class="mn_content">
            <div class="mn_c_list mn_show">
                <div class="mn_list">
                    <div class="mo_pay_circle"></div>
                    <div class="mn_icon mn_xt"></div>
                    <div class="mn_txt_box">
                        <div><span class="mn_wltxt">物流通知</span><span class="mn_sjtxt">9:00 AM</span></div>
                    </div>
                    <div class="mn_ctxt">
                        <div class="mn_mstxt">糗事百科是一个原创的糗事笑话分享社区,糗百网友分享的搞笑段子、搞笑图片大全,都是糗友珍贵话</div>
                    </div>
                </div>
                <div class="mn_list">
                    <div class="mo_pay_circle"></div>
                    <div class="mn_icon mn_wl"></div>
                    <div class="mn_txt_box">
                        <div><span class="mn_wltxt">系统通知</span><span class="mn_sjtxt">9:00 AM</span></div>
                    </div>
                    <div class="mn_ctxt">
                        <div class="mn_mstxt">糗事百科是一个原创的糗事笑话分享社区,糗百网友分享的搞笑段子、搞笑图片大全,都是糗友珍贵话</div>
                    </div>
                </div>
            </div>
            <div class="mn_c_list">
                <div class="mn_list">
                    <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                    <div class="mn_xxbox">
                        <div><span class="mn_wltxt">Kate Brown</span><span class="mn_sjxx">9:00 AM</span></div>
                    </div>
                    <div class="mn_ccbox">
                        <div class="mn_mstxt">糗事百科是一个原创的糗事笑话分享社区,糗百网友分享的搞笑段</div>
                    </div>
                </div>
                <div class="mn_list">
                    <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                    <div class="mn_xxbox">
                        <div><span class="mn_wltxt">Kate Brown</span><span class="mn_sjxx">9:00 AM</span></div>
                    </div>
                    <div class="mn_ccbox">
                        <div class="mn_mstxt">糗事百科是一个原创的糗事笑话分享社区,糗百网友分享的搞笑段</div>
                    </div>
                </div>
            </div>
            <div class="mn_c_list">

            </div>
        </div>
    </ion-content>
</ion-view>