<ion-view id="mine_data" view-title="个人信息登记">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
    <div class="md_tx"><span>头像</span><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540537991346&di=ea4698ef71b98c5f222f42de8f33ae2a&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F25%2F28%2F68R58PICTBI_1024.jpg"></div>
    <p class="md_xxtxt">个人信息</p>
    <div class="md_mine_data">
        <dl>
            <dd><span>真实姓名</span><input style="float:right" type="text"></dd>
            <dd><span>性别</span></dd>
            <dd><span>生日</span></dd>
            <dd><span>手机</span></dd>
            <dd><span>邮箱</span></dd>
        </dl>
    </div>
    <p class="md_xxtxt">学历学籍</p>
    <div class="md_mine_data">
        <dl>
            <dd><span>地区(省/市/区)</span></dd>
            <dd><span>院校名称</span></dd>
            <dd><span>当前状态</span></dd>
        </dl>
    </div>
</ion-content>
</ion-view>