<ion-view id="mine_detail">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="ma_header">
            <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2546655005,642395146&fm=27&gp=0.jpg">
            <div class="ma_data">
                <div>Haroob Mullick</div>
                <div>伦敦，英国</div>
            </div>
            <div class="ma_gz" ng-click="follow()">关注</div>
        </div>
        <div class="ma_content">
            <img class="ma_sphoto" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2546655005,642395146&fm=27&gp=0.jpg">
            <div class="ma_cbox">
                <div>图片/视频的标题：Maroob Mullick的作画过程</div>
                <div>描述：集体人仍儿科几年级二个人和开机费我空间金融股客家人扔看</div>
                <div class="ma_sbox">
                    <div class="ma_icon ma_dz_ico"></div><span>120</span>
                    <div class="ma_icon ma_pl_ico"></div><span>600</span>
                    <div class="ma_icon ma_sc_ico"></div><span>300</span>
                </div>
                <div class="ma_comment">
                    <div>共<span>600</span>条评论</div>
                    <div><span>Sophie Yao</span>说：热狗机二个人让他的法人</div>
                    <div><span>Sophie Yao</span>说：热狗机二个人让他的法人</div>
                </div>
            </div>
        </div>
        <div class="ma_ac">
            <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2546655005,642395146&fm=27&gp=0.jpg">
            <input type="text" placeholder="添加评论">
        </div>
    </ion-content>
</ion-view>