<ion-view view-title="确认订单" id="order_confirm">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header order">
        <div class="or_wrapper">
            <div class="or_m_box" ng-if="address_info.address_id">
                <div class="or_icon or_wz_ico"></div>
                <div class="or_icon or_zk_ico"></div>
                <p class="or_txt">收货人信息</p>
                <div class="or_message" ng-click="gotoPage('/detail_message')">
                    <p>收货人：{{address_info.true_name}}</p>
                    <p>收货人电话：{{address_info.tel_phone}}</p>
                    <p class="or_add">收货人地址：{{address_info.area_info}}&nbsp;&nbsp;{{address_info.address}}</p>
                </div>
            </div>
            <div class="or_s_box">
                <div class="or_s_list" ng-repeat="goods in yorder_list">
                    <img class="or_s_img" src="http://mall.apin.com.cn/data/upload/shop/store/goods/1714/1714_05955234866289854.jpg">
                    <p><span>商品名称&nbsp;&nbsp;</span><span ng-bind-html="goods.goods_name" style="color:darkolivegreen;"></span></p>
                    <p><span>尺寸&nbsp;&nbsp;</span><span style="color:darkolivegreen;margin-left: 75%;">{{size}}</span></p>
                    <p><span>颜色&nbsp;&nbsp;</span><span style="color:darkolivegreen;margin-left: 67%;" class="or_pcolor">{{color}}</span></p>
                    <p><span>单价&nbsp;&nbsp;</span><span style="color:darkolivegreen;margin-left: 62%;" class="or_pprice">￥{{goods.goods_price}}</span></p>
                    <p><span>数量&nbsp;&nbsp;</span><span style="color:darkolivegreen;margin-left: 77%;" class="buy_amounts">{{order_amounts}}</span></p>
                </div>
                <div class="or_w_box">买家留言：<input type="text" /></div>
            </div>
            <div class="or_pay_box">
                <div class="or_fq">T-Plus分期</div>
                <div class="or_df" ng-click="gotoPage('/replace_pay')">朋友代付</div>
            </div>
        </div>
    </ion-content>
    <div class="or_confirm">
        <span class="or_price">总金额 <span style="red;">￥</span><span class="or_n_price">{{pay_price}}</span></span>
        <span class="or_yf">含运费</span>
        <span class="or_submit" ng-click="hshow()">提交订单</span>
    </div>
    <!--支付-->
    <div class="or_hei_box">
        <div class="or_content">
            <div class="or_zftxt">确认支付</div>
            <div class="or_c_box">
                <div class="or_c_price">￥{{final_pay_price}}</div>
                <dl>
                    <dd><span>订单金额</span><span class="or_num_price">￥{{final_pay_price}}</span></dd>
                    <dd><span>订单优惠</span><span class="or_num_discount">-￥0.00</span></dd>
                </dl>
            </div>
            <div class="or_pay_way">
                <span class="or_pw">支付方式</span>
                <div class="or_s_pay">
                    <!--<div>-->
                        <!--<div id="s_zfb" class="or_pay_circle"></div>-->
                        <!--<div class="or_zfb_pay"></div><span class="or_zfb_txt">支付宝</span>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<div id="s_wx" class="or_pay_circle"></div>-->
                        <!--<div class="or_wx_pay"></div><span class="or_wx_txt">微&nbsp;&nbsp;&nbsp;信</span>-->
                    <!--</div>-->
                    <img class="lt_img" src="http://mall.apin.com.cn/data/app/imgs/weixn_pay.png"><p>微信支付</p><span class="cr_icon" ng-class="{'cur': type==1}" ng-click="switch(1)"></span>
                </div>
            </div>
            <div class="or_pay" ng-click="pay()">立即支付</div>
        </div>
    </div>
</ion-view>