<ion-view id="personal_record" view-title="信用记录">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="pr_header">
            <div>&nbsp;</div>
            <div class="pr_rbox">
                <div class="pr_wtxt">你的信用记录非常棒</div>
                <div><span class="pr_pnum">30</span>次良好记录<span class="pr_nnum">1</span>次良好记录</div>
            </div>
        </div>
        <p class="pr_xyjl">信用记录</p>
        <div class="pr_rdbox">
            <div class="pr_list">
                <div class="pr_dbox">
                    <div class="pr_circle"></div>
                    <div class="pr_date">2018-10-10</div>
                </div>
                <div>&nbsp;</div>
                <div class="pr_xq">
                    <div class="pr_icon pr_positive"></div>
                    <span class="pr_jdtxt">信用借贷</span>
                    <span class="pr_hktxt">按时还款</span>
                </div>
            </div>
            <div class="pr_list">
                <div class="pr_dbox">
                    <div class="pr_circle"></div>
                    <div class="pr_date">2018-10-10</div>
                </div>
                <div>&nbsp;</div>
                <div class="pr_xq">
                    <div class="pr_icon pr_negative"></div>
                    <span class="pr_jdtxt">信用借贷</span>
                    <span class="pr_hktxt">未按时还款</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>