<ion-view id="photo_show">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="ps_show"><img src="http://mall.apin.com.cn/data/upload/shop/store/goods/1714/1714_05955234866289854.jpg"></div>
    </ion-content>
    <div class="ps_select">
        <div class="ps_ico">
            <div class="ps_icon ps_dl_ico"></div>
        </div>
        <div class="ps_ico1">
            <div class="ps_icon ps_xx_ico"></div>
        </div>
        <div class="ps_ico2">
            <div class="ps_icon ps_sc_ico"></div>
        </div>
        <div class="ps_ico" ng-click="gotoPage('/art_workshop/'+goods_info.goods_id+'/')">
            <div class="ps_icon ps_bc_ico"></div>
        </div>
    </div>
</ion-view>