<ion-view view-title="发起代付" id="replace_pay">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="rp_header">
            <dl>
                <dd>代付金额</dd>
                <dd class="rp_pnum"><span>￥99.00</span></dd>
                <dd>商品名称：<span>***系列—作品名T恤</span></dd>
            </dl>
        </div>
        <div class="rp_fill">
            <input type="text" placeholder="请输入好友的微信号或支付宝号或手机号或QQ号">
            <div class="rp_send"><div class="rp_ax"></div><span>发送</span></div>
        </div>
        <div class="rp_tjbox">
            <p class="rp_tjtxt">推荐好友</p>
            <div class="rp_flist">
                <div class="rp_fbox">
                    <img class="rp_fp" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2546655005,642395146&fm=27&gp=0.jpg">
                    <div class="rp_fn">Sophie Y</div>
                </div>
                <div class="rp_fbox">
                    <img class="rp_fp" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2546655005,642395146&fm=27&gp=0.jpg">
                    <div class="rp_fn">Sophie H</div>
                </div>
            </div>
        </div>
        <div class="rp_tjbox">
            <p class="rp_tjtxt">你可以通过以下方式找朋友代付</p>
            <div class="rp_wlist">
                <div class="rp_fbox">
                    <div class="rp_icon rp_wx_ico"></div>
                    <div class="rp_fn">微信好友</div>
                </div>
                <div class="rp_fbox">
                    <div class="rp_icon rp_qq_ico"></div>
                    <div class="rp_fn">QQ好友</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>