<ion-view id="select_stage" view-title="交易分期">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="sa_title">共有<span>3</span>笔交易可以分期，最高分期金额<span>751.88</span></div>
        <div class="sa_box">
            <div>9月</div>
            <div class="sa_goods" ng-click="gotoPage('/confirm_stage')">
                <div>T-恤订单号*****</div>
                <div class="sa_date">10-01</div>
                <div class="sa_money">160</div>
            </div>
            <div class="sa_goods">
                <div>T-恤订单号*****</div>
                <div class="sa_date">10-01</div>
                <div class="sa_money">160</div>
            </div>
        </div>
    </ion-content>
</ion-view>