<ion-view view-title="购物车" id="shop_cart">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="sc_wrapper">
            <div class="sc_shop_list">
                <div class="mo_pay_circle"></div>
                <img src="http://pic.58pic.com/58pic/14/62/50/62558PICxm8_1024.jpg">
                <dl class="sc_p_goods">
                    <dd class="sc_name">***系列—作品名T恤</dd>
                    <dd class="sc_size">尺寸：S<div class="sc_icon sc_szk_ico"></div>
                    </dd>
                    <dd class="sc_color">颜色：白<div class="sc_icon sc_czk_ico"></div>
                    </dd>
                    <dd class="sc_prize">￥99.00</dd>
                    <dd class="ge_num">
                        <span class="ge_sl">数量</span>
                        <span class="ge_cutdown">-</span>
                        <input type="number" class="sc_int" value="2">
                        <span class="ge_add">+</span>
                    </dd>
                </dl>
            </div>
        </div>
    </ion-content>
</ion-view>