<ion-view id="stage" view-title="Tplus分期宝">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="st_header"></div>
        <div class="st_content">
            <div class="st_fq_txt">你的分期宝额度(元)</div>
            <div class="st_fq_num">11000.00</div>
            <div class="st_open" ng-click="gotoPage('/credit_record')">开通分期宝</div>
            <p class="st_item">点击“开通分期宝”即同意《*********合同》，《**********合同》</p>
        </div>
    </ion-content>
</ion-view>