<ion-view id="stage_detail" view-title="分期宝额度明细">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <div class="back" ng-click="goback()"></div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">

        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="sd_wrapper">
            <div class="sd_txt">
                <div class="sd_edtxt">已用额度</div>
                <div class="sd_ptxt">10239.00</div>
            </div>
            <div>
                <div class="sd_edtxt">总额度</div>
                <div class="sd_ptxt">11000.00</div>
            </div>
        </div>
        <div class="sd_box">
            <div>9月</div>
            <div class="sd_goods">
                <div>主动还款-2018年9月账单</div>
                <div class="sd_sxf">手续费0.07</div>
                <div class="sd_date">10-01</div>
                <div class="sd_money">+160</div>
            </div>
            <div class="sd_goods">
                <div>T-恤订单号*****</div>
                <div class="sd_date">10-01</div>
                <div class="sd_money">-160</div>
            </div>
        </div>
        <div class="sd_box">
            <div>9月</div>
            <div class="sd_goods">
                <div>主动还款-2018年9月账单</div>
                <div class="sd_sxf">手续费0.07</div>
                <div class="sd_date">10-01</div>
                <div class="sd_money">-160</div>
            </div>
            <div class="sd_goods">
                <div>T-恤订单号*****</div>
                <div class="sd_date">10-01</div>
                <div class="sd_money">+160</div>
            </div>
        </div>
    </ion-content>
</ion-view>